@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito&family=Signika+Negative:wght@500&family=Ubuntu:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: url(background.png);
    font-family: "Ubuntu", sans-serif;
}

body div h1{
    text-align: center;
    width: 50%;
    margin: auto;
}
body div h2{
    text-align: center;
    width: 50%;
    margin: auto;
    font-weight: bold;
}
.head-p{
    width: 50%;
    margin: auto;
    text-align: center;
}

@media(max-width: 650px){
    body div h1{
        width: 90%;
    }
    body div h2{
        width: 90%;
    }
    .head-p{
        width: 90%;
    }
}


.card-style{
    height: 200px;
    margin: 20px 0;
    padding: 20px 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
@media(max-width: 990px){
    .card-style{
        height: 250px;
    }
}
@media(max-width: 767px){
    .card-style{
        height: 200px;
    }
    .card-1{
        width: 95% !important;
        margin: auto;
    }
    .card-4{
        width: 95% !important;
        margin: auto;
    }
}
.card-1{
    border-top: solid 7px purple;
}
.card-2{
    border-top: solid 7px crimson;
}
.card-3{
    border-top: solid 7px greenyellow;
}
.card-4{
    border-top: solid 7px blue;
}
.card-icon{
    font-size: 2rem;
    text-align: right;
}